.header {
    position: relative;
    line-height: 0.6;
    padding-left: 10px;
}

.header #team {
    background-color: gainsboro;
    margin-right: 2%;
    padding: 1%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px;
}

.HWs {
    position: relative;
    top: 100px;
}

.list_elem {
    background-color: gainsboro;
}